#slide{

height: 40px;
width: 20px;

}
.carousel-item active{

height: 20px;
width: auto;

}

#carouselExampleControls{
    height: 20px;
    width: auto;

}
.carousel-inner{

    height: 10px;
    width: auto;

}
.img{
background-position:center;
object-fit: cover;
}
